@import '../../styles/utility.scss';

.container {
    display: flex;
    width: 100%;
    width: fit-content;
    height: fit-content;
    cursor: pointer;
}

@mixin btn() {
    border: solid 1px $turqoise;
    background-color: $white;
    border-radius: 4px;
    padding: 0.5rem 1rem;
    width: 7rem;
    height: 2.5rem;
}

.btnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    @include btn();
}

.btnShadow {
    @include btn();
    position: absolute;
    z-index: 1;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.btn {
    border: none;
    background: none;
    color: $light-black;
    font-size: max(1.2rem, 1.2vw);
    z-index: 3;
    padding: 0 0.5rem;
    font-size: max(1.5rem, 1.5vw);
}

.activeBtn {
    background-color: $turqoise-25p !important;
}

@media (min-width: 767px) {
    .btnContainer, .btnShadow {
        width: 9rem;
        height: 3rem;
    }
}