@import '../../styles/utility.scss';

.parentContainer {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border: solid $turqoise 1px;
    background-color: $white;
    border-radius: 4px;
    padding-bottom: 1rem;
    min-width: 20rem;
    margin-top: 1rem;
    gap: 1rem;
}

.btnleft {
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateX(1.5rem);
}

.btnRight {
    display: flex;
    align-items: center;
    height: 100%;
    transform: translateX(-1.5rem);
}

.components {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.component {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.slideRight {
    animation: slideRight 0.4s ease-in-out;
}

.slideLeft {
    animation: slideLeft 0.4s ease-in-out;
}


@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-5vw);
    }
    100% {
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(5vw);
    }
    100% {
        opacity: 1;
    }
}

