$white:#FFFF;
$turqoise:#45B69C;
$light-black:#181D27;

$turqoise-25p: rgba(69,182,156,0.25);

$turqoise-50p: rgba(69,182,156,0.9);
$turqoise-40p: rgba(69,182,156,0.7);
$turqoise-30p: rgba(69,182,156,0.5);
$turqoise-20p: rgba(69,182,156,0.3);
$turqoise-10p: rgba(69,182,156,0.1);